{
	"openapi": "3.0.1",
	"info": {
		"title": "ARPC — Achieve Resolution Partner Connect API",
		"description": "FDR Wholesale API — A Hybrid Integration Model designed to maximise partner velocity without compromising enterprise data standards. DEX (Digital Enrollment Experience) is the partner-facing integration layer that powers the full applicant lifecycle. The `fdr_applicant_id` acts as the applicant's passport across all systems, persisted from first eligibility check through enrollment. All endpoints require a valid Bearer JWT with the `arpc.all` role.\n\n**Published:** 2026-08-08",
		"contact": {
			"name": "Wholesale Partner Support",
			"email": "wp@achieve.com"
		},
		"license": {
			"name": "Proprietary"
		},
		"version": "2026.16.0"
	},
	"servers": [
		{
			"url": "https://apis-gateway-v2.stg.fdrgcp.com",
			"description": "STG API Gateway — all partner API calls"
		},
		{
			"url": "https://oauth.stg.ffngcp.com",
			"description": "STG OAuth server — POST /v1/token only"
		}
	],
	"security": [
		{
			"bearerAuth": []
		}
	],
	"tags": [
		{
			"name": "Authentication",
			"description": "Obtain a Bearer JWT to authenticate all API calls."
		},
		{
			"name": "Phase 1: Quoting and Identity Anchoring",
			"description": "Establish the applicant's journey and capture PII without cluttering the enterprise core. Eligibility Scout → ID Generation → Identity Anchoring → Async Credit Fetch."
		},
		{
			"name": "Phase 2: Program Generation",
			"description": "Transition from a registered identity to a credit-backed debt resolution program. Stateless Readiness Check → Async Polling Loop → Program Result Persistence."
		},
		{
			"name": "Phase 3: Enterprise Lead Promotion",
			"description": "Formalise the application within the enterprise ecosystem for underwriting. Synchronous Orchestration → UW Submission → Banking Disclosure."
		},
		{
			"name": "Phase 4: Fulfillment and Enrollment",
			"description": "The final transition from applicant to active client. DRA Readiness Check → Embedded DRA Signing → Enrollment."
		}
	],
	"paths": {
		"/v3/application": {
			"post": {
				"tags": ["Phase 3: Enterprise Lead Promotion"],
				"summary": "Sync wholesale lead creation",
				"description": "Synchronous Orchestration: Handles both lead creation and income/expense data in one step, eliminating the async polling black box. Data authority shifts here — Achieve becomes the Source of Truth once the lead is formally promoted. Returns the full lead creation result including program options.",
				"operationId": "createLeadSync",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateLeadRequest"
							},
							"examples": {
								"lead_create_with_cbr": {
									"summary": "Full lead creation with Spinwheel CBR and 7 representative debt accounts",
									"description": "lead_create_with_cbr",
									"value": {
										"other_debt_payments": 4321,
										"utilities": 4000,
										"food_expenses": 800,
										"food_justification": "justification of food expense",
										"other_expenses_describe": 5678,
										"other_expenses_description": "justification of other expenses expense",
										"own_or_rent": "Rent",
										"rent_or_mortgage_monthly": 1500,
										"housing_justification": "justification of housing expense",
										"transportation_expenses": 6500,
										"transportation_justification": "justification of transportation expense",
										"hardship_category": "Divorce",
										"hardship_category_other": "this is the hardship",
										"goal_category": "Get out of Debt",
										"goal_category_other": "be debt free goal",
										"other_debt_expenses_description": "justification of other debt expenses expense",
										"income_justification": "justification of income ",
										"income_expenses_comments": "justification of income expense expense ",
										"reference_id": "QA_CFA_3CSYYOV2",
										"seller_agent_email": "qashwini@aiqseller.com",
										"pull_credit_report": true,
										"applicant": {
											"first_name": "CORE",
											"last_name": "SPINWHEEL",
											"phone_number": "6683282324",
											"evening_phone_number": "6632129216",
											"social_security_number": "725444123",
											"email": "2xwg1asaaa123daasd2asdasdaasadasdasdsd@ljnoft7r.mailosaur.net",
											"date_of_birth": "1990-04-13",
											"current_address": {
												"city": "TEMPE",
												"state": "AZ",
												"zip_code": "85288",
												"country": "US",
												"line1": "123 MAIN STREET"
											},
											"mailing_address": {
												"city": "TEMPE",
												"state": "AZ",
												"zip_code": "85280",
												"country": "US",
												"line1": "123 MAIN STREET"
											},
											"fdr_applicant_id": "9g3be5a94aeab6a",
											"id": "9g3be5a94aeab6a",
											"cbr_report_id": "bc641fbe-c9b9-4979-9f36-677499f6e857",
											"credit_pull_source": "spinwheel",
											"pay_frequency": "Weekly",
											"other_monthly_income": 9521,
											"other_income_description": "justification of other income income",
											"next_pay_date": "2026-02-01",
											"monthly_income": 8000
										}
									}
								},
								"lead_create_minimal": {
									"summary": "Minimal required fields — identity + pre-pulled CBR",
									"description": "Minimum viable lead creation request. pull_credit_report=true with a pre-pulled cbr_report_id sources debt accounts from the credit report; no debt_accounts array is required. Income, expense, hardship, and goal fields are optional.",
									"value": {
										"pull_credit_report": true,
										"seller_agent_email": "agent@example.com",
										"reference_id": "REF-MIN-001",
										"applicant": {
											"first_name": "John",
											"last_name": "Doe",
											"phone_number": "6662229001",
											"evening_phone_number": "6662229002",
											"social_security_number": "666112233",
											"email": "john.doe@example.com",
											"date_of_birth": "1975-06-15",
											"current_address": {
												"line1": "123 Main Street",
												"city": "Tempe",
												"state": "AZ",
												"zip_code": "85288",
												"country": "US"
											},
											"fdr_applicant_id": "285b4549a62g7d3",
											"cbr_report_id": "a1b2c3d4-1234-5678-abcd-ef1234567890"
										}
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Lead created and committed",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateLeadResponse"
								},
								"examples": {
									"lead_created_minimal": {
										"summary": "Lead created from minimal CBR-pull request — 3 debt accounts from credit report",
										"description": "Response when only identity + pull_credit_report=true + cbr_report_id are sent. Debt accounts are sourced directly from the credit report. Income and expense fields reflect CBR-derived values populated by the system. payment_schedule_options is absent when not included in the program calculation.",
										"value": {
											"id": "74c34957-c05d-4121-8b4c-11e164e79007",
											"message": "Lead created successfully",
											"fdr_applicant_id": "285b4549a62g7d3",
											"application": {
												"eligible": true,
												"type": "Long Form",
												"status": "Attempting Contact",
												"hardship_category": "Divorce",
												"goal_category": "Get out of Debt",
												"own_or_rent": "Rent",
												"estimated_total_debt": 22000,
												"monthly_deposit": 744,
												"estimated_program_length": 30,
												"estimated_program_minimum_length": 18,
												"estimated_program_maximum_length": 30,
												"estimated_program_savings": -320,
												"estimated_program_cost": 22320,
												"estimated_cost_to_client": 22320,
												"fee_total": 5800,
												"fdr_program_fee": 5500,
												"bank_service_fee": 300,
												"fee_percentage": 25,
												"combined_monthly_income": 29521,
												"disposable_monthly_income": 5978,
												"total_estimated_monthly_expense": 22799,
												"total_expenses_monthly": 18478,
												"total_income_monthly": 29521,
												"other_debt_payments": 4321,
												"rent_or_mortgage_monthly": 1500,
												"transportation_expenses": 6500,
												"utilities": 4000,
												"food_expenses": 800,
												"estimated_settlement": 16520,
												"estimated_time_to_first_settlement": "1 - 3 Months",
												"estimated_monthly_creditor_payment": 607,
												"do_nothing_total_cost": 56379,
												"fee_charges_minimum_payments": 34379,
												"pay_down_time_minimum_payments": 264,
												"savings_off_do_nothing_cost": 34059,
												"npv": 3976,
												"state": "Active",
												"law_firm_id": "1059",
												"language": "English",
												"is_co_applicant": false,
												"seller_agent_email": "agent@example.com",
												"reference_id": "REF-MIN-001",
												"credit_pull_source": "spinwheel",
												"credit_pull_date": "2026-08-08",
												"created_date": "2026-08-08T00:33:03.000+0000",
												"past_due_30_days": "0 of 3",
												"past_due_60_days": "0 of 3",
												"past_due_90_days": "0 of 3",
												"business_flow_field": "182",
												"payment_options": [
													{
														"program_length": 30,
														"monthly_deposit": 744,
														"program_cost": 22320,
														"evaluation_type": "Most Affordable"
													},
													{
														"program_length": 24,
														"monthly_deposit": 928,
														"program_cost": 22272,
														"evaluation_type": "Best Value"
													},
													{
														"program_length": 18,
														"monthly_deposit": 1232,
														"program_cost": 22176,
														"evaluation_type": "Fastest"
													}
												],
												"estimated_monthly_payment_option_1": 744,
												"estimated_monthly_payment_option_2": 928,
												"estimated_monthly_payment_option_3": 1232,
												"estimated_program_length_option_1": 30,
												"estimated_program_length_option_2": 24,
												"estimated_program_length_option_3": 18,
												"estimated_time_to_first_settlement_option_1": "1 - 3 Months",
												"estimated_time_to_first_settlement_option_2": "1 - 3 Months",
												"estimated_time_to_first_settlement_option_3": "1 - 3 Months",
												"applicant": {
													"first_name": "John",
													"last_name": "Doe",
													"email": "john.doe@example.com",
													"date_of_birth": "1975-06-15",
													"phone_number": "6662229001",
													"evening_phone_number": "6662229002",
													"fdr_applicant_id": "285b4549a62g7d3",
													"id": "285b4549a62g7d3",
													"cbr_report_id": "a1b2c3d4-1234-5678-abcd-ef1234567890",
													"monthly_income": 20000,
													"other_monthly_income": 9521,
													"pay_frequency": "weekly",
													"next_pay_date": "2026-08-20",
													"credit_pull_source": "spinwheel",
													"cerebro_id": "c1a2b3d4-5678-90ab-cdef-123456789012",
													"email_opt_out": false,
													"current_address": {
														"line1": "123 Main Street",
														"city": "Tempe",
														"state": "AZ",
														"zip_code": "85288",
														"country": "US"
													},
													"mailing_address": {
														"line1": "123 Main Street",
														"city": "Tempe",
														"state": "AZ",
														"zip_code": "85288",
														"country": "US"
													}
												},
												"cbr_report_id": "a1b2c3d4-1234-5678-abcd-ef1234567890",
												"co_applicant": {
													"fdr_applicant_id": "285b4549a62g7d3-c",
													"id": "285b4549a62g7d3-c",
													"monthly_income": 0,
													"other_monthly_income": 0,
													"email_opt_out": false
												},
												"debt_accounts": [
													{
														"id": "a017z00001aaBBcAAA",
														"account_number": "123456******3456",
														"account_type": "credit-card",
														"creditor_name": "Example Bank",
														"estimated_debt": 5000,
														"credit_limit": 500,
														"credit_utilization": "1000.0",
														"current_monthly_payment": 100,
														"verified": true,
														"status": "Active",
														"rank": 1,
														"months_to_settle": "1 - 3 Months",
														"is_secured": false,
														"is_business_debt": false,
														"is_medical_debt": false,
														"responsibility": "individual",
														"ownership": "Applicant",
														"source": "cbr",
														"tradeline_source": "EQUIFAX",
														"universal_id": "82d99201-0000-0000-0000-000000000001",
														"conditions": []
													},
													{
														"id": "a017z00001aaBBdAAA",
														"account_number": "423456******3456",
														"account_type": "credit-card",
														"creditor_name": "Example Bank",
														"estimated_debt": 7000,
														"credit_limit": 500,
														"credit_utilization": "1400.0",
														"current_monthly_payment": 100,
														"verified": true,
														"status": "Active",
														"rank": 2,
														"months_to_settle": "7 - 9 Months",
														"is_secured": false,
														"is_business_debt": false,
														"is_medical_debt": false,
														"responsibility": "individual",
														"ownership": "Applicant",
														"source": "cbr",
														"tradeline_source": "EQUIFAX",
														"universal_id": "82d99201-0000-0000-0000-000000000002",
														"conditions": []
													},
													{
														"id": "a017z00001aaBBeAAA",
														"account_number": "223456******3456",
														"account_type": "credit-card",
														"creditor_name": "Example Bank",
														"estimated_debt": 10000,
														"credit_limit": 4800,
														"credit_utilization": "208.33",
														"current_monthly_payment": 46,
														"verified": true,
														"status": "Active",
														"rank": 3,
														"months_to_settle": "10+ Months",
														"is_secured": false,
														"is_business_debt": false,
														"is_medical_debt": false,
														"responsibility": "individual",
														"ownership": "Applicant",
														"source": "cbr",
														"tradeline_source": "EQUIFAX",
														"universal_id": "82d99201-0000-0000-0000-000000000003",
														"conditions": []
													}
												],
												"conditions": [
													{
														"type": "soft-condition",
														"id": "a027z00000aaBBcAAA",
														"name": "Business Debt Check",
														"active": true,
														"verified_by_debt_consultant": false,
														"condition_id": "business-debt-check",
														"verified": null
													},
													{
														"type": "soft-condition",
														"id": "a027z00000aaBBdAAA",
														"name": "Summons & Legal Payment Arrangements",
														"active": true,
														"verified_by_debt_consultant": false,
														"condition_id": "law-firm",
														"verified": null
													},
													{
														"type": "soft-condition",
														"id": "a027z00000aaBBeAAA",
														"name": "Secured Account Reminder",
														"active": true,
														"verified_by_debt_consultant": false,
														"condition_id": "secured-account-reminder",
														"verified": null
													}
												]
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Seller authentication failure, readiness check failure, or duplicate client match. ER40101 = invalid/expired token. ER40102 = not OAUTH configured. ER40103 = service account not configured. ER40306 = active client SSN, email, or generic duplicate match. ER40307 = lead create readiness check failed.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40101_invalid_token": {
										"summary": "Invalid or expired seller token",
										"description": "ER40101_invalid_token",
										"value": {
											"status": 400,
											"error_code": "ER40101",
											"error": "Invalid Token or No Token included"
										}
									},
									"ER40102_not_oauth_configured": {
										"summary": "Service account not OAUTH configured",
										"description": "ER40102_not_oauth_configured",
										"value": {
											"status": 400,
											"error_code": "ER40102",
											"error": "Service Account not OAUTH configured"
										}
									},
									"ER40103_account_not_configured": {
										"summary": "Service account not configured",
										"description": "ER40103_account_not_configured",
										"value": {
											"status": 400,
											"error_code": "ER40103",
											"error": "Service account not configured"
										}
									},
									"ER40306_ssn_match": {
										"summary": "Active client SSN match",
										"description": "ER40306_ssn_match",
										"value": {
											"status": 400,
											"error_code": "ER40306",
											"error": "Active Client SSN Match - Client is Active"
										}
									},
									"ER40306_email_match": {
										"summary": "Active client email match",
										"description": "ER40306_email_match",
										"value": {
											"status": 400,
											"error_code": "ER40306",
											"error": "Active Client Email Match"
										}
									},
									"ER40306_generic_match": {
										"summary": "Active client match (generic fallback)",
										"description": "ER40306_generic_match",
										"value": {
											"status": 400,
											"error_code": "ER40306",
											"error": "Active Client Match Found"
										}
									},
									"ER40307_lead_readiness_failed": {
										"summary": "Lead create readiness check failed",
										"description": "ER40307_lead_readiness_failed",
										"value": {
											"status": 400,
											"error_code": "ER40307",
											"error": "Lead create readiness check failed"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing or invalid JWT (gateway-level rejection)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"missing_or_invalid_jwt": {
										"summary": "No or malformed Authorization header",
										"description": "missing_or_invalid_jwt",
										"value": {
											"status": 401,
											"error": "Unauthorized",
											"message": "Missing or invalid JWT"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Unexpected internal server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"internal_server_error": {
										"summary": "Unhandled server-side failure",
										"description": "internal_server_error",
										"value": {
											"status": 500,
											"error": "Internal Server Error",
											"message": "An unexpected error occurred"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/application/program-selection": {
			"post": {
				"tags": ["Phase 3: Enterprise Lead Promotion"],
				"summary": "Select program schedule for an existing lead",
				"description": "Gateway-level endpoint: selects a payment schedule for an existing lead and persists the program offer. After calling generateProgram, choose a schedule from payment_schedule_options and submit its draft_type and estimated_monthly_payment here. The gateway injects request attributes and forwards internally to POST /v3/application/program. Requires a valid Authorization header.",
				"operationId": "selectProgram",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProgramSelectionRequest"
							},
							"examples": {
								"select_best_value_biweekly": {
									"summary": "Select Best Value (24-month) bi-weekly schedule",
									"description": "select_best_value_biweekly",
									"value": {
										"applicant": {
											"fdr_applicant_id": "285b4549a62g7d3"
										},
										"draft_type": "bi-weekly",
										"estimated_monthly_payment": 928
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Program schedule selected and lead updated successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LeadResponse"
								},
								"examples": {
									"program_selected": {
										"summary": "Lead updated with Best Value bi-weekly schedule",
										"description": "program_selected",
										"value": {
											"id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4050",
											"message": "success",
											"application": {
												"applicant": {
													"first_name": "John",
													"last_name": "Doe",
													"fdr_applicant_id": "285b4549a62g7d3",
													"cbr_report_id": "a1b2c3d4-1234-5678-abcd-ef1234567890",
													"monthly_income": 20000,
													"other_monthly_income": 9521,
													"email_opt_out": false,
													"credit_pull_source": "spinwheel",
													"cerebro_id": "c0a80101-0000-4000-a000-000000000001"
												},
												"cbr_report_id": "a1b2c3d4-1234-5678-abcd-ef1234567890",
												"co_applicant": {
													"fdr_applicant_id": "285b4549a62g7d3-c",
													"monthly_income": 0,
													"other_monthly_income": 0,
													"email_opt_out": false
												},
												"estimated_total_debt": 22000,
												"hardship_category": "Divorced",
												"eligible": true,
												"type": "Long Form",
												"goal_category": "Be Debt Free",
												"status": "Attempting Contact",
												"estimated_program_length": 24,
												"monthly_deposit": 928,
												"draft_type": "Bi-Weekly",
												"estimated_program_cost": 22272,
												"fee_total": 5740,
												"fee_percentage": 25,
												"bank_service_fee": 240,
												"estimated_settlement": 16532,
												"do_nothing_total_cost": 56379,
												"disposable_monthly_income": 5794,
												"combined_monthly_income": 29521,
												"estimated_monthly_payment": 928,
												"payment_options": [
													{
														"program_length": 30,
														"monthly_deposit": 744,
														"program_cost": 22320,
														"evaluation_type": "Most Affordable"
													},
													{
														"program_length": 24,
														"monthly_deposit": 928,
														"program_cost": 22272,
														"evaluation_type": "Best Value"
													},
													{
														"program_length": 18,
														"monthly_deposit": 1232,
														"program_cost": 22176,
														"evaluation_type": "Fastest"
													}
												],
												"debt_accounts": [
													{
														"id": "a017z00001AAAAAAAAI",
														"account_number": "123456******3456",
														"account_type": "credit-card",
														"estimated_debt": 5000,
														"status": "Active",
														"verified": true,
														"creditor_name": "SYNCB/Paypal",
														"rank": 1,
														"conditions": []
													}
												],
												"conditions": [
													{
														"type": "soft-condition",
														"name": "Business Debt Check",
														"active": true,
														"verified_by_debt_consultant": false,
														"condition_id": "business-debt-check",
														"verified": null
													}
												]
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Validation failure — missing or invalid fields. ER40001 = one or more fields failed validation.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40001_missing_applicant": {
										"summary": "Missing required field",
										"description": "ER40001_missing_applicant",
										"value": {
											"status": 400,
											"error_code": "ER40001",
											"error": "1 or more fields failed validation",
											"errors": [
												{
													"field": "applicant.fdr_applicant_id",
													"reason_code": "REQUIRED",
													"message": "is required"
												}
											]
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing or invalid Authorization header",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServerResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServerResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v1/application/readiness": {
			"post": {
				"tags": [
					"Phase 2: Program Generation",
					"Phase 3: Enterprise Lead Promotion"
				],
				"summary": "Check application readiness",
				"description": "Stateless Readiness Check: Pre-flight validation before initiating program calculations. Catches duplicate SSNs or emails early to prevent downstream failures. Requires a valid Authorization header.",
				"operationId": "checkApplicationReadiness",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/StatelessReadinessRequest"
							},
							"examples": {
								"readiness_check": {
									"summary": "Readiness check with CBR pull — full income and expense fields",
									"description": "readiness_check",
									"value": {
										"reference_id": "REF-READINESS-001",
										"seller_agent_email": "agent@example.com",
										"credit_pull_source": "spinwheel",
										"other_debt_payments": 4321,
										"other_debt_expenses_description": "justification of other debt expenses expense",
										"utilities": 4000,
										"food_expenses": 800,
										"other_expenses_describe": 5678,
										"other_expenses_description": "justification of other expenses expense",
										"own_or_rent": "Rent",
										"rent_or_mortgage_monthly": 1500,
										"transportation_expenses": 6500,
										"hardship_category": "Divorce",
										"hardship_category_other": "this is the hardship",
										"goal_category": "Get out of Debt",
										"applicant": {
											"first_name": "John",
											"last_name": "Doe",
											"email": "john.doe@example.com",
											"phone_number": "6662229001",
											"evening_phone_number": "6662229002",
											"date_of_birth": "1975-06-15",
											"social_security_number": "666112233",
											"current_address": {
												"country": "US",
												"line1": "123 Main Street",
												"city": "Tempe",
												"state": "AZ",
												"zip_code": "85288"
											},
											"mailing_address": {
												"country": "US",
												"line1": "123 Main Street",
												"city": "Tempe",
												"state": "AZ",
												"zip_code": "85288"
											},
											"fdr_applicant_id": "285b4549a62g7d3",
											"cbr_report_id": "a1b2c3d4-1234-5678-abcd-ef1234567890",
											"pay_frequency": "weekly",
											"other_monthly_income": 9521,
											"other_income_description": "justification of other income",
											"next_pay_date": "2026-08-20",
											"monthly_income": 20000
										}
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Readiness check completed successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ReadinessResponse"
								},
								"examples": {
									"readiness_result": {
										"summary": "Readiness result — lead ready, UW submission not ready (debt accounts missing)",
										"description": "readiness_result",
										"value": {
											"checks": [
												{
													"type": "lead",
													"verified": true,
													"errors": [],
													"error_details": []
												},
												{
													"type": "uw_submission",
													"verified": false,
													"errors": [
														"estimatedProgramLength: Program ineligible - program length should be greater than zero",
														"monthlyDeposit: Program ineligible - monthly deposit should be greater than zero",
														"Debt accounts missing in request body"
													],
													"error_details": [
														{
															"field": "estimated_program_length",
															"reason_code": "REQUIRED",
															"message": "Program ineligible - program length should be greater than zero"
														},
														{
															"field": "monthly_deposit",
															"reason_code": "REQUIRED",
															"message": "Program ineligible - monthly deposit should be greater than zero"
														},
														{
															"field": "debt_accounts",
															"reason_code": "DEBT_ACCOUNTS_MISSING",
															"message": "Debt accounts missing in request body"
														}
													]
												}
											]
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Invalid request payload or active client duplicate match. ER40001 = validation failure. ER40306 = active client SSN or email match.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40001_invalid_request": {
										"summary": "Malformed or missing required fields",
										"description": "ER40001_invalid_request",
										"value": {
											"status": 400,
											"error_code": "ER40001",
											"error": "Invalid request payload"
										}
									},
									"ER40306_active_client_match": {
										"summary": "Active client SSN match — lead already exists",
										"description": "ER40306_active_client_match",
										"value": {
											"status": "400",
											"error_code": "ER40306",
											"timestamp": "07-08-2026 03:48:00",
											"error": "Active Client SSN Match - Client is Active",
											"x_correlation_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing or invalid Authorization header. Gateway-level rejection (no error_code) or service-level rejection with ER40101 (invalid/expired token or seller not authorized).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"gateway_unauthorized": {
										"summary": "API gateway rejection (no error_code)",
										"description": "gateway_unauthorized",
										"value": {
											"status": 401,
											"error": "Unauthorized",
											"message": "JWT token is missing or invalid"
										}
									},
									"ER40101_invalid_token": {
										"summary": "Service: invalid/expired token or seller not authorized",
										"description": "ER40101_invalid_token",
										"value": {
											"status": 401,
											"error_code": "ER40101",
											"error": "Invalid Token or No Token included",
											"timestamp": "2026-06-11T10:00:00.000Z"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"server_error": {
										"summary": "Unexpected internal error",
										"description": "server_error",
										"value": {
											"status": 500,
											"error": "Internal Server Error",
											"message": "An unexpected error occurred"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/application/spinwheel-network-user": {
			"post": {
				"tags": ["Phase 2: Program Generation"],
				"summary": "Create / connect Spinwheel network user",
				"description": "Recovery endpoint — only required when the async Spinwheel user creation triggered by `POST /v1/applicant/register` fails due to a user error (e.g. invalid SSN or DOB). Not needed in the happy path. Authenticates the seller, resolves the law firm / program, creates an applicant ID when needed, and connects the applicant to the Spinwheel network. Requires a valid Authorization header.",
				"operationId": "createSpinwheelNetworkUser",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SpinwheelNetworkUserRequest"
							},
							"examples": {
								"spinwheel_network_user_create": {
									"summary": "Create a Spinwheel network user for a wholesale applicant",
									"description": "spinwheel_network_user_create",
									"value": {
										"state": "AZ",
										"ssn": "4123",
										"network_user_token": "8e84e855-538e-4379-96b1-02e1b8aaacdb",
										"date_of_birth": "1990-04-10",
										"audit": {
											"user_consent_date": "2024-10-14"
										}
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Spinwheel network user connected successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SpinwheelNetworkUserResponse"
								},
								"examples": {
									"spinwheel_network_user_connected": {
										"summary": "Applicant is connected to the Spinwheel network",
										"description": "spinwheel_network_user_connected",
										"value": {
											"fdr_applicant_id": "49gb56369939726",
											"message": "User is connected"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Validation failure, seller auth failure, or downstream Spinwheel error.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40201_no_fees_defined": {
										"summary": "No fees defined for the seller's service account",
										"description": "ER40201_no_fees_defined",
										"value": {
											"status": "400",
											"error": "No Fees Defined for Service Account",
											"error_code": "ER40201",
											"x_correlation_id": "4be58711-e056-4293-b4cb-bfce3e0e1b5b",
											"timestamp": "2026-06-12 22:51:36.902"
										}
									},
									"ER401002_ssn_mismatch": {
										"summary": "SSN last 4 digits do not match Spinwheel records",
										"description": "ER401002_ssn_mismatch",
										"value": {
											"status": "400",
											"error": "spinwheel: SSN last four digits does not match",
											"error_code": "ER401002",
											"x_correlation_id": "d5e65e24-e37e-496a-a14a-341d62c4e9ae",
											"timestamp": "2026-06-12 22:52:12.461"
										}
									},
									"ER401005_network_token_not_found": {
										"summary": "Spinwheel network token not found",
										"description": "ER401005_network_token_not_found",
										"value": {
											"status": "400",
											"error": "spinwheel: networkToken not found",
											"error_code": "ER401005",
											"x_correlation_id": "9a7a67b9-ac57-49bc-8d60-938d8f77be5f",
											"timestamp": "2026-06-12 22:52:34.023"
										}
									},
									"ER401002_dob_mismatch": {
										"summary": "Date of birth does not match Spinwheel records",
										"description": "ER401002_dob_mismatch",
										"value": {
											"status": "400",
											"error": "spinwheel: DOB does not match",
											"error_code": "ER401002",
											"x_correlation_id": "0ebfb58e-6217-4caa-b32b-cdb675721895",
											"timestamp": "2026-06-12 22:52:56.206"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing or invalid Authorization header",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"missing_or_invalid_jwt": {
										"summary": "No or malformed Authorization header",
										"description": "missing_or_invalid_jwt",
										"value": {
											"status": 401,
											"error": "Unauthorized",
											"message": "Missing or invalid JWT"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"internal_server_error": {
										"summary": "Unhandled server-side failure",
										"description": "internal_server_error",
										"value": {
											"status": 500,
											"error": "Internal Server Error",
											"message": "An unexpected error occurred"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/application/bank-update/{applicantId}": {
			"patch": {
				"tags": ["Phase 4: Fulfillment and Enrollment"],
				"summary": "Update applicant bank details",
				"description": "Authenticates the seller, validates banking disclosure requirements, optionally validates the submitted account and routing numbers, patches the program, and returns the refreshed lead payload. Requires a valid Authorization header.",
				"operationId": "updateApplicationBankDetails",
				"parameters": [
					{
						"name": "applicantId",
						"in": "path",
						"description": "The unique FDR applicant ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/BankUpdateRequest"
							},
							"examples": {
								"bank_update": {
									"summary": "Update bank details after disclosure validation",
									"description": "bank_update",
									"value": {
										"banking_disclosure_validation": true,
										"verification_code": "1010",
										"bank_details": {
											"account_number": "0000000015",
											"account_routing_number": "122105278"
										}
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Application bank details updated successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LeadResponse"
								},
								"examples": {
									"bank_update_success": {
										"summary": "Updated lead payload returned after patch",
										"description": "bank_update_success",
										"value": {
											"id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
											"message": "success",
											"application": {
												"fdr_applicant_id": "285b4549a62g7d3",
												"applicant": {
													"first_name": "John",
													"last_name": "Doe"
												},
												"bank_details": {
													"name": "WELLS FARGO BANK NA (ARIZONA)",
													"account_type": "Checking",
													"account_subtype": "Personal",
													"account_number": "0000000001",
													"account_routing_number": "122105278",
													"validation_status": "Success"
												},
												"status": "Waiting for Agreement",
												"sub_status": "UW Conditional Approval",
												"draft_amount": 344,
												"draft_type": "Bi-Weekly",
												"first_draft_date": "2026-08-20",
												"program_start_date": "2026-08-20"
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Missing or invalid bank details, disclosure validation failure, seller auth failure, or bank validation failure. ER40602 = applicant not found. ER40601 = proxy 200-error. ER40101 = invalid/expired token. ER40102 = not OAUTH configured. ER40103 = service account not configured.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40602_invalid_applicant_id": {
										"summary": "Applicant not found",
										"description": "ER40602_invalid_applicant_id",
										"value": {
											"status": 400,
											"error_code": "ER40602",
											"error": "Invalid Applicant Id",
											"timestamp": "2026-06-04T17:00:00Z"
										}
									},
									"ER40101_invalid_token": {
										"summary": "Invalid or expired seller token",
										"description": "ER40101_invalid_token",
										"value": {
											"error_code": "ER40101",
											"error": "Invalid Token or No Token included"
										}
									},
									"ER40102_not_oauth_configured": {
										"summary": "Service account not OAUTH configured",
										"description": "ER40102_not_oauth_configured",
										"value": {
											"error_code": "ER40102",
											"error": "Service Account not OAUTH configured"
										}
									},
									"ER40103_account_not_configured": {
										"summary": "Service account not configured",
										"description": "ER40103_account_not_configured",
										"value": {
											"error_code": "ER40103",
											"error": "Service account not configured"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing or invalid JWT (gateway-level rejection)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"missing_or_invalid_jwt": {
										"summary": "No or malformed Authorization header",
										"description": "missing_or_invalid_jwt",
										"value": {
											"status": 401,
											"error": "Unauthorized",
											"message": "Missing or invalid JWT"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Unexpected internal server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"internal_server_error": {
										"summary": "Unhandled server-side failure",
										"description": "internal_server_error",
										"value": {
											"status": 500,
											"error": "Internal Server Error",
											"message": "An unexpected error occurred"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/application/send-email/{fdrApplicantId}": {
			"post": {
				"tags": ["Phase 4: Fulfillment and Enrollment"],
				"summary": "Send banking disclosure email (optional — only if not auto-sent by v2 UW submission)",
				"description": "Banking Disclosure: Manually triggers the banking disclosure email. **This endpoint is optional** — it is only needed when the disclosure was not already sent automatically by `POST /v2/application/uw-submission/{fdrApplicantId}` (which auto-sends on full UW approval). Use this endpoint for conditional approvals or when the v1 UW submission path is in use. A critical legal prerequisite that must be completed before enrollment can proceed. Requires a valid Authorization header.",
				"operationId": "sendEmail",
				"parameters": [
					{
						"name": "fdrApplicantId",
						"in": "path",
						"description": "The unique FDR applicant ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Email sent successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApplicationSendEmailResponse"
								},
								"examples": {
									"email_sent": {
										"summary": "Email successfully sent",
										"description": "email_sent",
										"value": {
											"status": "sent",
											"created_at": "2026-05-29T12:40:11.951Z",
											"updated_at": "2026-05-29T12:40:11.951Z",
											"id": "63541968"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Email delivery failure, seller auth failure, or lead retrieval error. ER41001 = email service rejection (3 sub-variants based on opt-out status, address validity, or generic send failure). ER40602 = applicant not found in SUIP. ER40601 = proxy 200-error fetching lead. ER40101 = invalid/expired token. ER40102 = not OAUTH configured. ER40103 = service account not configured.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER41001_opted_out": {
										"summary": "Applicant has opted out of email",
										"description": "ER41001_opted_out",
										"value": {
											"error_code": "ER41001",
											"error": "Client has opted out of receiving email, please opt in and retry."
										}
									},
									"ER41001_invalid_email": {
										"summary": "Applicant email address is invalid",
										"description": "ER41001_invalid_email",
										"value": {
											"error_code": "ER41001",
											"error": "Applicant email address is invalid. Please verify and retry."
										}
									},
									"ER41001_send_failed": {
										"summary": "Email send failed (generic)",
										"description": "ER41001_send_failed",
										"value": {
											"error_code": "ER41001",
											"error": "Sending email failed"
										}
									},
									"ER40602_invalid_applicant_id": {
										"summary": "Applicant not found in SUIP",
										"description": "ER40602_invalid_applicant_id",
										"value": {
											"error_code": "ER40602",
											"error": "Invalid Applicant Id"
										}
									},
									"ER40601_proxy_error": {
										"summary": "SUIP proxy returned a 200-error response",
										"description": "ER40601_proxy_error",
										"value": {
											"error_code": "ER40601",
											"error": "name field is empty, please check client and co-client name fields"
										}
									},
									"ER40101_invalid_token": {
										"summary": "Invalid or expired seller token",
										"description": "ER40101_invalid_token",
										"value": {
											"error_code": "ER40101",
											"error": "Invalid Token or No Token included"
										}
									},
									"ER40102_not_oauth_configured": {
										"summary": "Service account not OAUTH configured",
										"description": "ER40102_not_oauth_configured",
										"value": {
											"error_code": "ER40102",
											"error": "Service Account not OAUTH configured"
										}
									},
									"ER40103_account_not_configured": {
										"summary": "Service account not configured",
										"description": "ER40103_account_not_configured",
										"value": {
											"error_code": "ER40103",
											"error": "Service account not configured"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing or invalid JWT (gateway-level rejection)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"missing_or_invalid_jwt": {
										"summary": "No or malformed Authorization header",
										"description": "missing_or_invalid_jwt",
										"value": {
											"status": 401,
											"error": "Unauthorized",
											"message": "Missing or invalid JWT"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Unexpected internal server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"internal_server_error": {
										"summary": "Unhandled server-side failure",
										"description": "internal_server_error",
										"value": {
											"status": 500,
											"error": "Internal Server Error",
											"message": "An unexpected error occurred"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/application/lead-transfer": {
			"post": {
				"tags": ["Lead transfer"],
				"summary": "Transfer a lead to the debt-resolution program",
				"description": "Submits a lead evaluation request. fdr_applicant_id is required in the request body. Requires a valid Authorization header with the arpc.all role.",
				"operationId": "leadTransfer",
				"requestBody": {
					"description": "Lead evaluation payload. fdr_applicant_id is a required routing field. phone_number and zip_code are accepted as standardized field names.",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LeadTransferRequest"
							},
							"examples": {
								"lead_transfer_request": {
									"summary": "Minimal required lead transfer request",
									"description": "lead_transfer_request",
									"value": {
										"fdr_applicant_id": "APP-12345",
										"email": "person@example.com",
										"phone_number": "+18005551212",
										"first_name": "First",
										"last_name": "Last",
										"mailing_address": {
											"state": "CA",
											"city": "Los Angeles",
											"zip_code": "90001"
										},
										"unsecured_debt": 30000,
										"tracking": {
											"utm_media": "partner",
											"trusted_form_cert": "https://cert.trustedform.com/abc123",
											"utm_campaign": "123AZ"
										},
										"consents": {
											"tcpa": "I agree to be contacted...",
											"fcra": "I authorize the use of my consumer report...",
											"e_sign": "I consent to receive disclosures electronically...",
											"policy": "I have read and agree to the privacy policy...",
											"term": "I agree to the terms and conditions..."
										},
										"date_of_birth": "1985-01-15"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Lead evaluation result. Contains the outcome (accepted or rejected), optional rejection details, and a redirect URL for accepted leads.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LeadTransferResponse"
								},
								"examples": {
									"accepted": {
										"summary": "Lead accepted",
										"description": "accepted",
										"value": {
											"id": 2073952,
											"created_at": "2026-07-16T17:34:51.524Z",
											"updated_at": "2026-07-16T17:34:52.233Z",
											"response": "accepted"
										}
									},
									"rejected_duplicate": {
										"summary": "Lead rejected — duplicate",
										"description": "rejected_duplicate",
										"value": {
											"response": "rejected",
											"response_reason": "DuplicateLead",
											"response_details": [
												"Duplicate Lead – this lead already exists in our system"
											],
											"get_offers_url": "https://offers.example.com/redirect/abc-123"
										}
									},
									"rejected_not_eligible": {
										"summary": "Lead rejected — not eligible",
										"description": "rejected_not_eligible",
										"value": {
											"response": "rejected",
											"response_reason": "Lead 12345 is not eligible for credit",
											"get_offers_url": "https://offers.example.com/redirect/abc-123"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Missing required field (e.g. fdr_applicant_id).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40000_missing_field": {
										"summary": "Required field missing",
										"description": "ER40000_missing_field",
										"value": {
											"status": 400,
											"error_code": "ER40000",
											"error": "fdr_applicant_id is required",
											"timestamp": "2026-07-20T12:00:00Z"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing Authorization header.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"missing_authorization_header": {
										"summary": "Missing Authorization header",
										"description": "missing_authorization_header",
										"value": {
											"status": 401,
											"error": "Unauthorized",
											"message": "Authorization header required"
										}
									}
								}
							}
						}
					},
					"403": {
						"description": "Seller lacks the arpc.all role, the Authorization header is malformed or invalid, or the JWT is missing the required sub claim.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40300_missing_role": {
										"summary": "Authorization token lacks required role",
										"description": "ER40300_missing_role",
										"value": {
											"status": 403,
											"error_code": "ER40300",
											"error": "Missing required role: arpc.all",
											"timestamp": "2026-07-20T12:00:00Z"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Unexpected internal server error (ER50002: seller configuration not found, ER50003: missing required seller data).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER50002_missing_transfer_credentials": {
										"summary": "Seller configuration not found for lead transfer",
										"description": "ER50002_missing_transfer_credentials",
										"value": {
											"status": 500,
											"error_code": "ER50002",
											"error": "Lead-transfer configuration not found for seller"
										}
									},
									"ER50003_blank_business_flow": {
										"summary": "Seller configuration is incomplete",
										"description": "ER50003_blank_business_flow",
										"value": {
											"status": 500,
											"error_code": "ER50003",
											"error": "Seller configuration is incomplete — cannot resolve lead-transfer credentials",
											"timestamp": "2026-07-20T12:00:00Z"
										}
									},
									"internal_server_error": {
										"summary": "Unhandled server-side failure",
										"description": "internal_server_error",
										"value": {
											"status": 500,
											"error": "Internal Server Error",
											"message": "An unexpected error occurred"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/application/{fdrApplicantId}": {
			"get": {
				"tags": ["Phase 3: Enterprise Lead Promotion"],
				"summary": "Read application / lead details",
				"description": "Fetches the current state of an application / lead record by FDR applicant ID. Requires a valid Authorization header.",
				"operationId": "readLead",
				"parameters": [
					{
						"name": "fdrApplicantId",
						"in": "path",
						"description": "The unique FDR applicant ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Application retrieved successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LeadResponse"
								},
								"examples": {
									"lead_read": {
										"summary": "Full lead record with applicant, bank details, and debt accounts",
										"description": "lead_read",
										"value": {
											"id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
											"message": "success",
											"application": {
												"applicant": {
													"first_name": "John",
													"last_name": "Doe",
													"phone_number": "5550000001",
													"email": "john.doe@example.com",
													"date_of_birth": "1970-01-01",
													"current_address": {
														"line1": "123 Main Street",
														"city": "Tempe",
														"state": "AZ",
														"zip_code": "85288",
														"country": "US"
													},
													"fdr_applicant_id": "285b4549a62g7d3",
													"cbr_report_id": "a1b2c3d4-1234-5678-abcd-ef1234567890",
													"monthly_income": 20000,
													"other_monthly_income": 9521,
													"next_pay_date": "2026-08-20",
													"pay_frequency": "weekly",
													"email_opt_out": false,
													"credit_pull_source": "spinwheel",
													"cerebro_id": "c0a80101-0000-4000-a000-000000000001"
												},
												"cbr_report_id": "a1b2c3d4-1234-5678-abcd-ef1234567890",
												"co_applicant": {
													"fdr_applicant_id": "285b4549a62g7d3-c",
													"monthly_income": 0,
													"other_monthly_income": 0,
													"email_opt_out": false
												},
												"bank_details": {
													"name": "WELLS FARGO BANK NA (ARIZONA)",
													"account_type": "Checking",
													"account_subtype": "Personal",
													"account_number": "0000000001",
													"account_routing_number": "122105278",
													"validation_status": "Success"
												},
												"estimated_total_debt": 22000,
												"hardship_category": "Divorce",
												"goal_category": "Get out of Debt",
												"eligible": true,
												"type": "Long Form",
												"status": "Waiting for Agreement",
												"sub_status": "UW Conditional Approval",
												"reference_id": "REF-PARTNER-001",
												"seller_agent_email": "agent@example.com",
												"monthly_deposit": 744,
												"estimated_program_length": 30,
												"estimated_program_cost": 22320,
												"fee_total": 5800,
												"fee_percentage": 25,
												"draft_amount": 344,
												"draft_type": "Bi-Weekly",
												"first_draft_date": "2026-08-20",
												"program_start_date": "2026-08-20",
												"combined_monthly_income": 29521,
												"disposable_monthly_income": 5978,
												"payment_options": [
													{
														"program_length": 30,
														"monthly_deposit": 744,
														"program_cost": 22320,
														"evaluation_type": "Most Affordable"
													},
													{
														"program_length": 24,
														"monthly_deposit": 928,
														"program_cost": 22272,
														"evaluation_type": "Best Value"
													},
													{
														"program_length": 18,
														"monthly_deposit": 1232,
														"program_cost": 22176,
														"evaluation_type": "Fastest"
													}
												],
												"payment_schedule_options": [
													{
														"id": "most-affordable",
														"evaluation_type": "Most Affordable",
														"program_length": 30,
														"program_cost": 22320,
														"schedules": [
															{
																"id": "most-affordable-regular",
																"draft_type": "regular",
																"draft_deposit": 744,
																"estimated_monthly_payment": 744
															},
															{
																"id": "most-affordable-split",
																"draft_type": "split",
																"draft_deposit": 372,
																"estimated_monthly_payment": 744
															},
															{
																"id": "most-affordable-bi-weekly",
																"draft_type": "bi-weekly",
																"draft_deposit": 344,
																"estimated_monthly_payment": 744
															}
														]
													},
													{
														"id": "best-value",
														"evaluation_type": "Best Value",
														"program_length": 24,
														"program_cost": 22272,
														"schedules": [
															{
																"id": "best-value-regular",
																"draft_type": "regular",
																"draft_deposit": 928,
																"estimated_monthly_payment": 928
															},
															{
																"id": "best-value-split",
																"draft_type": "split",
																"draft_deposit": 464,
																"estimated_monthly_payment": 928
															},
															{
																"id": "best-value-bi-weekly",
																"draft_type": "bi-weekly",
																"draft_deposit": 429,
																"estimated_monthly_payment": 928
															}
														]
													},
													{
														"id": "fastest",
														"evaluation_type": "Fastest",
														"program_length": 18,
														"program_cost": 22176,
														"schedules": [
															{
																"id": "fastest-regular",
																"draft_type": "regular",
																"draft_deposit": 1232,
																"estimated_monthly_payment": 1232
															},
															{
																"id": "fastest-split",
																"draft_type": "split",
																"draft_deposit": 616,
																"estimated_monthly_payment": 1232
															},
															{
																"id": "fastest-bi-weekly",
																"draft_type": "bi-weekly",
																"draft_deposit": 569,
																"estimated_monthly_payment": 1232
															}
														]
													}
												],
												"debt_accounts": [
													{
														"id": "a017z00001AAAAAAAAI",
														"account_number": "123456******3456",
														"account_type": "credit-card",
														"estimated_debt": 5000,
														"status": "Active",
														"verified": true,
														"creditor_name": "SYNCB/Paypal",
														"rank": 1,
														"conditions": []
													}
												]
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Invalid applicant ID, SUIP proxy error, or seller auth failure. ER40602 = applicant ID not found in SUIP (proxy 404). ER40601 = proxy 200-error (e.g. INVALID_USERNAME_FOR_RECIPIENT). ER40101 = invalid/expired token. ER40102 = not OAUTH configured. ER40103 = service account not configured.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40602_invalid_applicant_id": {
										"summary": "Invalid applicant ID",
										"description": "ER40602_invalid_applicant_id",
										"value": {
											"error_code": "ER40602",
											"error": "Invalid Applicant Id"
										}
									},
									"ER40601_proxy_error": {
										"summary": "SUIP proxy returned an error",
										"description": "ER40601_proxy_error",
										"value": {
											"error_code": "ER40601",
											"error": "name field is empty, please check client and co-client name fields"
										}
									},
									"ER40101_invalid_token": {
										"summary": "Invalid or expired seller token",
										"description": "ER40101_invalid_token",
										"value": {
											"error_code": "ER40101",
											"error": "Invalid Token or No Token included"
										}
									},
									"ER40102_not_oauth_configured": {
										"summary": "Service account not OAUTH configured",
										"description": "ER40102_not_oauth_configured",
										"value": {
											"error_code": "ER40102",
											"error": "Service Account not OAUTH configured"
										}
									},
									"ER40103_account_not_configured": {
										"summary": "Service account not configured",
										"description": "ER40103_account_not_configured",
										"value": {
											"error_code": "ER40103",
											"error": "Service account not configured"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing or invalid JWT",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"unauthorized": {
										"summary": "Missing or invalid Bearer token",
										"description": "unauthorized",
										"value": {
											"status": 401,
											"error": "Unauthorized",
											"message": "JWT token is missing or invalid"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"server_error": {
										"summary": "Unexpected internal error",
										"description": "server_error",
										"value": {
											"status": 500,
											"error": "Internal Server Error",
											"message": "An unexpected error occurred"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch": {
				"tags": ["Phase 3: Enterprise Lead Promotion"],
				"summary": "Partial update of application / lead record",
				"description": "Applies a partial update to an existing wholesale lead record. Requires a valid Authorization header and an x-correlation-id header for request tracing.",
				"operationId": "patchLead",
				"parameters": [
					{
						"name": "fdrApplicantId",
						"in": "path",
						"description": "The unique FDR applicant ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "x-correlation-id",
						"in": "header",
						"description": "Caller-supplied correlation ID for distributed tracing",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LeadPatchRequest"
							},
							"examples": {
								"patch_income": {
									"summary": "Update applicant monthly income and next pay date",
									"description": "patch_income",
									"value": {
										"applicant": {
											"monthly_income": 20000,
											"next_pay_date": "2026-06-15"
										}
									}
								},
								"patch_hardship": {
									"summary": "Update hardship category on existing lead",
									"description": "patch_hardship",
									"value": {
										"hardship_category": "Divorce"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Lead updated successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LeadResponse"
								},
								"examples": {
									"lead_patched": {
										"summary": "Updated lead record after partial patch",
										"description": "lead_patched",
										"value": {
											"id": "b5e7c9a1-f2d3-4e5f-8a9b-c0d1e2f30001",
											"message": "success",
											"application": {
												"applicant": {
													"first_name": "John",
													"last_name": "Doe",
													"phone_number": "5550000001",
													"email": "john.doe@example.com",
													"date_of_birth": "1970-01-01",
													"current_address": {
														"line1": "123 Main Street",
														"city": "Tempe",
														"state": "AZ",
														"zip_code": "85288",
														"country": "US"
													},
													"fdr_applicant_id": "285b4549a62g7d3",
													"cbr_report_id": "a1b2c3d4-1234-5678-abcd-ef1234567890",
													"monthly_income": 20000,
													"other_monthly_income": 9521,
													"next_pay_date": "2026-08-20",
													"pay_frequency": "weekly",
													"email_opt_out": false,
													"credit_pull_source": "spinwheel",
													"cerebro_id": "c0a80101-0000-4000-a000-000000000001"
												},
												"cbr_report_id": "a1b2c3d4-1234-5678-abcd-ef1234567890",
												"co_applicant": {
													"fdr_applicant_id": "285b4549a62g7d3-c",
													"monthly_income": 0,
													"other_monthly_income": 0,
													"email_opt_out": false
												},
												"bank_details": {
													"name": "WELLS FARGO BANK NA (ARIZONA)",
													"account_type": "Checking",
													"account_subtype": "Personal",
													"account_number": "0000000001",
													"account_routing_number": "122105278",
													"validation_status": "Success"
												},
												"estimated_total_debt": 22000,
												"hardship_category": "Divorce",
												"goal_category": "Get out of Debt",
												"eligible": true,
												"type": "Long Form",
												"status": "Waiting for Agreement",
												"sub_status": "UW Conditional Approval",
												"reference_id": "REF-PARTNER-001",
												"seller_agent_email": "agent@example.com",
												"monthly_deposit": 744,
												"estimated_program_length": 30,
												"estimated_program_cost": 22320,
												"fee_total": 5800,
												"fee_percentage": 25,
												"draft_amount": 344,
												"draft_type": "Bi-Weekly",
												"first_draft_date": "2026-08-20",
												"program_start_date": "2026-08-20",
												"combined_monthly_income": 29521,
												"disposable_monthly_income": 5978,
												"payment_options": [
													{
														"program_length": 30,
														"monthly_deposit": 744,
														"program_cost": 22320,
														"evaluation_type": "Most Affordable"
													},
													{
														"program_length": 24,
														"monthly_deposit": 928,
														"program_cost": 22272,
														"evaluation_type": "Best Value"
													},
													{
														"program_length": 18,
														"monthly_deposit": 1232,
														"program_cost": 22176,
														"evaluation_type": "Fastest"
													}
												],
												"payment_schedule_options": [
													{
														"id": "most-affordable",
														"evaluation_type": "Most Affordable",
														"program_length": 30,
														"program_cost": 22320,
														"schedules": [
															{
																"id": "most-affordable-regular",
																"draft_type": "regular",
																"draft_deposit": 744,
																"estimated_monthly_payment": 744
															},
															{
																"id": "most-affordable-split",
																"draft_type": "split",
																"draft_deposit": 372,
																"estimated_monthly_payment": 744
															},
															{
																"id": "most-affordable-bi-weekly",
																"draft_type": "bi-weekly",
																"draft_deposit": 344,
																"estimated_monthly_payment": 744
															}
														]
													},
													{
														"id": "best-value",
														"evaluation_type": "Best Value",
														"program_length": 24,
														"program_cost": 22272,
														"schedules": [
															{
																"id": "best-value-regular",
																"draft_type": "regular",
																"draft_deposit": 928,
																"estimated_monthly_payment": 928
															},
															{
																"id": "best-value-split",
																"draft_type": "split",
																"draft_deposit": 464,
																"estimated_monthly_payment": 928
															},
															{
																"id": "best-value-bi-weekly",
																"draft_type": "bi-weekly",
																"draft_deposit": 429,
																"estimated_monthly_payment": 928
															}
														]
													},
													{
														"id": "fastest",
														"evaluation_type": "Fastest",
														"program_length": 18,
														"program_cost": 22176,
														"schedules": [
															{
																"id": "fastest-regular",
																"draft_type": "regular",
																"draft_deposit": 1232,
																"estimated_monthly_payment": 1232
															},
															{
																"id": "fastest-split",
																"draft_type": "split",
																"draft_deposit": 616,
																"estimated_monthly_payment": 1232
															},
															{
																"id": "fastest-bi-weekly",
																"draft_type": "bi-weekly",
																"draft_deposit": 569,
																"estimated_monthly_payment": 1232
															}
														]
													}
												],
												"debt_accounts": [
													{
														"id": "a017z00001AAAAAAAAI",
														"account_number": "123456******3456",
														"account_type": "credit-card",
														"estimated_debt": 5000,
														"status": "Active",
														"verified": true,
														"creditor_name": "SYNCB/Paypal",
														"rank": 1,
														"conditions": []
													}
												]
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Validation failure, invalid applicant ID, or SUIP proxy error. ER40602 = applicant not found in SUIP (proxy 404). ER40601 = proxy 200-error. ER40604 = first draft date outside 33-day UW approval window. ER40603 = SSN validation required for UW submission. ER40101 = invalid/expired token. ER40102 = not OAUTH configured. ER40103 = service account not configured.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40602_invalid_applicant_id": {
										"summary": "Invalid applicant ID",
										"description": "ER40602_invalid_applicant_id",
										"value": {
											"error_code": "ER40602",
											"error": "Invalid Applicant Id"
										}
									},
									"ER40601_proxy_error": {
										"summary": "SUIP proxy returned a 200-error response",
										"description": "ER40601_proxy_error",
										"value": {
											"error_code": "ER40601",
											"error": "name field is empty, please check client and co-client name fields"
										}
									},
									"ER40604_first_draft_date": {
										"summary": "First draft date outside 33-day window",
										"description": "ER40604_first_draft_date",
										"value": {
											"error_code": "ER40604",
											"error": "First draft date must be within 33 days of underwriting approval"
										}
									},
									"ER40603_ssn_validation": {
										"summary": "SSN validation required for UW submission",
										"description": "ER40603_ssn_validation",
										"value": {
											"error_code": "ER40603",
											"error": "SSN validation is required for submission to Underwriting"
										}
									},
									"ER40101_invalid_token": {
										"summary": "Invalid or expired seller token",
										"description": "ER40101_invalid_token",
										"value": {
											"error_code": "ER40101",
											"error": "Invalid Token or No Token included"
										}
									},
									"ER40102_not_oauth_configured": {
										"summary": "Service account not OAUTH configured",
										"description": "ER40102_not_oauth_configured",
										"value": {
											"error_code": "ER40102",
											"error": "Service Account not OAUTH configured"
										}
									},
									"ER40103_account_not_configured": {
										"summary": "Service account not configured",
										"description": "ER40103_account_not_configured",
										"value": {
											"error_code": "ER40103",
											"error": "Service account not configured"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing or invalid JWT (gateway-level rejection)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"missing_or_invalid_jwt": {
										"summary": "No or malformed Authorization header",
										"description": "missing_or_invalid_jwt",
										"value": {
											"status": 401,
											"error": "Unauthorized",
											"message": "Missing or invalid JWT"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Unexpected internal server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"internal_server_error": {
										"summary": "Unhandled server-side failure",
										"description": "internal_server_error",
										"value": {
											"status": 500,
											"error": "Internal Server Error",
											"message": "An unexpected error occurred"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/application/{applicantId}/readiness": {
			"get": {
				"tags": [
					"Phase 4: Fulfillment and Enrollment",
					"Phase 3: Enterprise Lead Promotion"
				],
				"summary": "Get application readiness status",
				"description": "DRA Readiness Check: Final pre-flight confirming the lead is approved and all prerequisites are met before initiating the embedded signing session. Requires a valid Authorization header.",
				"operationId": "getApplicationReadiness",
				"parameters": [
					{
						"name": "applicantId",
						"in": "path",
						"description": "The unique FDR applicant ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Readiness status retrieved successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ReadinessResponse"
								},
								"examples": {
									"stateful_readiness_result": {
										"summary": "UW submission ready, DRA not ready — program refresh required",
										"description": "stateful_readiness_result",
										"value": {
											"checks": [
												{
													"type": "uw_submission",
													"verified": true,
													"errors": [],
													"error_details": []
												},
												{
													"type": "dra",
													"verified": false,
													"errors": [
														"firstDraftDate: First Draft Date not compliant with CA 3 day rule",
														"firstDraftDate: First draft date cannot be empty",
														"estimatedProgramEndDate: Estimated program end date cannot be empty",
														"secondDraftDateMissing: Second draft date is required when draft type is split or bi-weekly",
														"draftType: Draft type cannot be empty",
														"draftAmount: Draft amount cannot be empty",
														"programStartDate: Program start date cannot be empty"
													],
													"error_details": [
														{
															"field": "first_draft_date",
															"reason_code": "REQUIRED",
															"message": "First Draft Date not compliant with CA 3 day rule"
														},
														{
															"field": "first_draft_date",
															"reason_code": "REQUIRED",
															"message": "First draft date cannot be empty"
														},
														{
															"field": "estimated_program_end_date",
															"reason_code": "REQUIRED",
															"message": "Estimated program end date cannot be empty"
														},
														{
															"field": "second_draft_date_missing",
															"reason_code": "REQUIRED",
															"message": "Second draft date is required when draft type is split or bi-weekly"
														},
														{
															"field": "draft_type",
															"reason_code": "REQUIRED",
															"message": "Draft type cannot be empty"
														},
														{
															"field": "draft_amount",
															"reason_code": "REQUIRED",
															"message": "Draft amount cannot be empty"
														},
														{
															"field": "program_start_date",
															"reason_code": "REQUIRED",
															"message": "Program start date cannot be empty"
														}
													]
												}
											],
											"is_program_refresh_required": true
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Missing required field or authentication configuration failure. ER40000 = required path variable missing. ER40102 = not OAUTH configured. ER40103 = service account not configured.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40000_missing_applicant_id": {
										"summary": "applicantId path variable missing",
										"description": "ER40000_missing_applicant_id",
										"value": {
											"status": 400,
											"error_code": "ER40000",
											"error": "applicantId is required",
											"timestamp": "2026-06-11T10:00:00.000Z"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing or invalid authorization. Gateway-level rejection (no error_code) or service-level rejection: ER40100 = Authorization header missing / malformed. ER40101 = token present but invalid/expired or seller not authorized.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"gateway_missing_or_invalid_jwt": {
										"summary": "API gateway rejection (no error_code)",
										"description": "gateway_missing_or_invalid_jwt",
										"value": {
											"status": 401,
											"error": "Unauthorized",
											"message": "Missing or invalid JWT"
										}
									},
									"ER40100_missing_authorization_header": {
										"summary": "Service: Authorization header missing",
										"description": "ER40100_missing_authorization_header",
										"value": {
											"status": 401,
											"error_code": "ER40100",
											"error": "Authorization header required",
											"timestamp": "2026-06-11T10:00:00.000Z"
										}
									},
									"ER40101_invalid_token": {
										"summary": "Service: invalid/expired token or seller not authorized",
										"description": "ER40101_invalid_token",
										"value": {
											"status": 401,
											"error_code": "ER40101",
											"error": "Invalid Token or No Token included",
											"timestamp": "2026-06-11T10:00:00.000Z"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Unexpected internal server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"internal_server_error": {
										"summary": "Unhandled server-side failure",
										"description": "internal_server_error",
										"value": {
											"status": 500,
											"error": "Internal Server Error",
											"message": "An unexpected error occurred"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/application/{applicantId}/dra": {
			"post": {
				"tags": ["Phase 4: Fulfillment and Enrollment"],
				"summary": "Generate Debt Resolution Agreement (DRA)",
				"description": "Embedded DRA Signing: Returns an Embedded Signing URL so the applicant signs the Debt Resolution Agreement via DocuSign directly within the Symple UI, preventing session breakage. Successful legal execution triggers automatic enrollment. Requires a valid Authorization header.",
				"operationId": "generateDra",
				"parameters": [
					{
						"name": "applicantId",
						"in": "path",
						"description": "The unique FDR applicant ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DraRequest"
							},
							"examples": {
								"dra_url_signing": {
									"summary": "Generate DRA with DocuSign URL signing",
									"description": "dra_url_signing",
									"value": {
										"returning_url": "https://www.example.net/callback/docusign",
										"applicant": {
											"signing_type": "url"
										}
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "DRA generated successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DraResponse"
								},
								"examples": {
									"dra_generated": {
										"summary": "DocuSign envelope created with signing URL",
										"description": "dra_generated",
										"value": {
											"applicant": {
												"url": "https://demo.docusign.net/Signing/MTRedeem/v1/9cf515f1-632a-44eb-98c9-962b294aec38?slt=..."
											},
											"envelopeId": "91a9221f-b944-82b1-816d-ab894b5e1d28"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Readiness gate failure, signing error, seller auth failure, or proxy/program-refresh error. ER40305 = not UW-approved (includes error_details.checks[]). ER40303 = DRA readiness check failed. ER40304 = DRA readiness failing, requires UW approval. ER40501 = invalid signing type or duplicate envelope (distinguish by error field value). ER40504 = seller agent email not found. ER40306 = active client SSN, email, or generic duplicate match. ER40101 = invalid/expired token. ER40102 = not OAUTH configured. ER40103 = service account not configured. ER40602 = applicant not found in SUIP. ER40601 = proxy 200-error. ER40901 = program refresh bad request. ER40902 = program refresh internal error. ER40903 = program refresh dependency failure.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40305_not_uw_approved": {
										"summary": "Application not UW-approved — includes per-check detail",
										"description": "ER40305_not_uw_approved",
										"value": {
											"timestamp": "2026-05-22 02:45:42.467",
											"status": 400,
											"error": "Application needs to be approved by Underwriter",
											"error_code": "ER40305",
											"x_correlation_id": "df5a91e8-6e39-4b02-bd1a-fecf8c351695",
											"error_details": {
												"checks": [
													{
														"type": "uw_submission",
														"verified": false,
														"errors": [
															"applicant.nextPayDate: Next pay date cannot be less than today or more than 33 days in future"
														]
													},
													{
														"type": "dra",
														"verified": false,
														"errors": [
															"sellerAgentEmail: Seller agent email cannot be empty"
														]
													}
												],
												"is_program_refresh_required": false,
												"is_uw_approved": false
											}
										}
									},
									"ER40501_invalid_signing_type": {
										"summary": "Invalid signing type (must be \"url\" or \"email\")",
										"description": "ER40501_invalid_signing_type",
										"value": {
											"error_code": "ER40501",
											"error": "Signing type needs to be url or email for applicant"
										}
									},
									"ER40501_duplicate_envelope": {
										"summary": "Envelope already exists for this applicant",
										"description": "ER40501_duplicate_envelope",
										"value": {
											"error_code": "ER40501",
											"error": "Duplicate Envelope Request Error"
										}
									},
									"ER40504_agent_not_found": {
										"summary": "Seller agent email not registered for this seller",
										"description": "ER40504_agent_not_found",
										"value": {
											"error_code": "ER40504",
											"error": "Agent info is not found"
										}
									},
									"ER40306_ssn_match": {
										"summary": "Active client SSN match",
										"description": "ER40306_ssn_match",
										"value": {
											"error_code": "ER40306",
											"error": "Active Client SSN Match - Client is Active"
										}
									},
									"ER40306_email_match": {
										"summary": "Active client email match",
										"description": "ER40306_email_match",
										"value": {
											"error_code": "ER40306",
											"error": "Active Client Email Match"
										}
									},
									"ER40306_generic_match": {
										"summary": "Active client match (generic fallback)",
										"description": "ER40306_generic_match",
										"value": {
											"error_code": "ER40306",
											"error": "Active Client Match Found"
										}
									},
									"ER40303_dra_readiness_failed": {
										"summary": "DRA readiness check failed",
										"description": "ER40303_dra_readiness_failed",
										"value": {
											"error_code": "ER40303",
											"error": "DRA readiness check failed"
										}
									},
									"ER40304_dra_requires_uw_approval": {
										"summary": "DRA readiness failing — requires UW approval",
										"description": "ER40304_dra_requires_uw_approval",
										"value": {
											"error_code": "ER40304",
											"error": "DRA readiness check is failing and requires UW approval"
										}
									},
									"ER40101_invalid_token": {
										"summary": "Invalid or expired seller token",
										"description": "ER40101_invalid_token",
										"value": {
											"error_code": "ER40101",
											"error": "Invalid Token or No Token included"
										}
									},
									"ER40102_not_oauth_configured": {
										"summary": "Service account not OAUTH configured",
										"description": "ER40102_not_oauth_configured",
										"value": {
											"error_code": "ER40102",
											"error": "Service Account not OAUTH configured"
										}
									},
									"ER40103_account_not_configured": {
										"summary": "Service account not configured",
										"description": "ER40103_account_not_configured",
										"value": {
											"error_code": "ER40103",
											"error": "Service account not configured"
										}
									},
									"ER40602_invalid_applicant_id": {
										"summary": "Applicant not found in SUIP (proxy 404)",
										"description": "ER40602_invalid_applicant_id",
										"value": {
											"error_code": "ER40602",
											"error": "Invalid Applicant Id"
										}
									},
									"ER40601_proxy_error": {
										"summary": "SUIP proxy returned a 200-error response",
										"description": "ER40601_proxy_error",
										"value": {
											"error_code": "ER40601",
											"error": "name field is empty, please check client and co-client name fields"
										}
									},
									"ER40901_program_refresh_bad_request": {
										"summary": "Program refresh service bad request",
										"description": "ER40901_program_refresh_bad_request",
										"value": {
											"error_code": "ER40901",
											"error": "Program refresh request failed"
										}
									},
									"ER40902_program_refresh_server_error": {
										"summary": "Program refresh service internal error",
										"description": "ER40902_program_refresh_server_error",
										"value": {
											"error_code": "ER40902",
											"error": "Program refresh internal error"
										}
									},
									"ER40903_program_refresh_dependency": {
										"summary": "Program refresh dependency failure",
										"description": "ER40903_program_refresh_dependency",
										"value": {
											"error_code": "ER40903",
											"error": "Program refresh dependency failure"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Missing or invalid JWT (gateway-level rejection)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"missing_or_invalid_jwt": {
										"summary": "No or malformed Authorization header",
										"description": "missing_or_invalid_jwt",
										"value": {
											"status": 401,
											"error": "Unauthorized",
											"message": "Missing or invalid JWT"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Unexpected internal server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"internal_server_error": {
										"summary": "Unhandled server-side failure",
										"description": "internal_server_error",
										"value": {
											"status": 500,
											"error": "Internal Server Error",
											"message": "An unexpected error occurred"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/applicant/register": {
			"post": {
				"tags": ["Phase 1: Quoting and Identity Anchoring"],
				"summary": "Seller-aware applicant registration (v2 — unified ARPCErrorResponse envelope) — recommended",
				"description": "**Recommended endpoint.** `POST /v1/applicant/register` is deprecated and will be retired by end of July 2026 (deadline can be extended on request if your team needs more time). Identity Anchoring: Persists applicant PII to Achieve's managed partner CRM and generates the `fdr_applicant_id` — the applicant's passport across all systems. Routes to the correct target system based on seller identity, and triggers the async credit fetch. Requires a valid Authorization header.",
				"operationId": "registerApplicantV2",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/RegisterApplicantV2Request"
							},
							"examples": {
								"full_registration": {
									"summary": "Full applicant registration with all fields",
									"description": "full_registration",
									"value": {
										"seller_agent_email": "agent@example.com",
										"applicant": {
											"first_name": "CORE",
											"last_name": "SPINWHEEL",
											"email": "2xwg1as123da2aasdasdasdsd@ljnoft7r.mailosaur.net",
											"phone_number": "6629582324",
											"evening_phone_number": "6632129216",
											"date_of_birth": "1990-04-13",
											"ssn": "364754123",
											"fdr_applicant_id": "285b4988e4957d3",
											"reference_id": "WiB_Automation_45074",
											"consent_date": "2024-10-14",
											"network_token": "4e0cccc0-22e0-422c-a54d-79db70e2d0af",
											"physical_address": {
												"line1": "123 MAIN STREET",
												"city": "TEMPE",
												"state": "AZ",
												"zip_code": "85288",
												"country": "US"
											},
											"mailing_address": {
												"line1": "123 MAIN STREET",
												"city": "TEMPE",
												"state": "AZ",
												"zip_code": "85280",
												"country": "US"
											}
										}
									}
								},
								"registration_without_eligibility_scout": {
									"summary": "Registration without applicant.fdr_applicant_id (server generated)",
									"description": "registration_without_eligibility_scout",
									"value": {
										"seller_agent_email": "agent@example.com",
										"applicant": {
											"first_name": "CORE",
											"last_name": "SPINWHEEL",
											"email": "2xwg1as123da2aasdasdasdsd@ljnoft7r.mailosaur.net",
											"phone_number": "6629582324",
											"evening_phone_number": "6632129216",
											"date_of_birth": "1990-04-13",
											"ssn": "364754123",
											"reference_id": "WiB_Automation_45074",
											"consent_date": "2024-10-14",
											"network_token": "4e0cccc0-22e0-422c-a54d-79db70e2d0af",
											"physical_address": {
												"line1": "123 MAIN STREET",
												"city": "TEMPE",
												"state": "AZ",
												"zip_code": "85288",
												"country": "US"
											},
											"mailing_address": {
												"line1": "123 MAIN STREET",
												"city": "TEMPE",
												"state": "AZ",
												"zip_code": "85280",
												"country": "US"
											}
										}
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Applicant registered successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RegisterApplicantV2Response"
								},
								"examples": {
									"registered": {
										"summary": "Applicant successfully registered in Salesforce",
										"description": "registered",
										"value": {
											"status": "created",
											"salesforce_id": "a0BWB000005L5kz2AC",
											"business_flow": "SSI",
											"fdr_applicant_id": "285b4988e4957d3"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Validation failure (ER40001), Salesforce OAuth failure (ER40112), Salesforce registration rejection (ER40012), or Salesforce validation error (ER42212). Field-validation failures (ER40001) return all violations in a single response via `errors[]`; each entry carries a stable `reason_code` (REQUIRED, INVALID_FORMAT, OUT_OF_RANGE, UNDERAGE) for programmatic branching. SF / OAuth failures use the top-level `error` field and omit `errors[]`.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ARPCErrorResponse"
								},
								"examples": {
									"ER40001_missing_phone_number": {
										"summary": "Missing phone_number",
										"description": "ER40001_missing_phone_number",
										"value": {
											"status": 400,
											"error_code": "ER40001",
											"error": "1 or more fields failed validation",
											"errors": [
												{
													"field": "applicant.phone_number",
													"reason_code": "REQUIRED",
[...]
